<h2 id="title">Ember-CLI Bootstrap-Switch</h2>


{{bs-switch name="my-bs-switch" btnSize="small" status=bsSwitchStatusValue callback="bsSwitchChanged"}}


{{input type="text" value=bsSwitchStatusValue}}

{{outlet}}
